.Home {
    background: linear-gradient(#6bcdc8, #b7cfd5);
    width: 100%;
    height: 100vh;
    position: relative;
}

.BodyWrapper {
    width: 80%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: capitalize;
}

.Cloud1 {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 100px;
}

.Cloud2 {
    position: absolute;
    top: 23%;
    right: 5%;
    width: 100px;
}

/* Hero Section */

.Brand {
    display: flex;
    align-items: center;
    justify-content: center;
}

.BrandName {
    padding: 0;
    margin: 0;
    padding-right: 0.8rem;
}

.ImgHouse {
    background-color: rgb(221, 241, 41);
    padding: 0.2rem;
}

.BrandLogo {
    width: 2rem;
    height: 2rem;
}

/* Main Body */

.MainBody {
    margin: 3rem auto 0;
}

.Greetings {
    text-align: center;
    font-size: 1.2rem;
}

.MainForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#find {
    background-color: white;
    background-image: url('../../Components/Imgs/search.png');
    background-position: 15px 16px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    width: 80%;
    margin: auto;
    padding: 1rem;
    padding-left: 38px;
    border: none;
    font-size: 0.9rem;
}

#find::placeholder {
    font-size: 0.8rem;
}

#find:focus,
#find:focus-visible {
    outline: none;
}